In [95]:
# 모듈 불러오기
import pandas as pd
import numpy as np

In [96]:
# 파일 경로
filename = './남북한발전전력량.xlsx'

In [97]:
# 파일 불러오기
# 이럴수가 그냥 받았더니 자료형이 개판이야
excel = pd.read_excel(filename)
excel

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,NaN,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,NaN,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,NaN,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,NaN,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [98]:
# 그렇다면 보기좋게 이쁘게 다듬자
# 먼저 남북한을 나눈다
excel.set_index('전력량 (억㎾h)', inplace=True)
southDF = excel.iloc[0:5].set_index('발전 전력별')
southDF

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
발전 전력별,,,,,,,,,,,,,,,,,,,,,
합계,1077,1186,1310,1444,1650,1847,2055,2244,2153,2393,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
수력,64,51,49,60,41,55,52,54,61,61,...,50,56,56,65,78,77,84,78,58,66
화력,484,573,696,803,1022,1122,1264,1420,1195,1302,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
원자력,529,563,565,581,587,670,739,771,897,1031,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
신재생,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195

In [99]:
# 이제 좀 보기 좋네
# 얘넨 근데 핵으로 무기만 만드나?
northDF = excel.iloc[5:].set_index('발전 전력별')
northDF

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
발전 전력별,,,,,,,,,,,,,,,,,,,,,
합계,277,263,247,221,231,230,213,193,170,186,...,236,255,235,237,211,215,221,216,190,239
수력,156,150,142,133,138,142,125,107,102,103,...,133,141,125,134,132,135,139,130,100,128
화력,121,113,105,88,93,88,88,86,68,83,...,103,114,110,103,79,80,82,86,90,111
원자력,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [100]:
# 북한에 '신재생' 행을 추가
northDF.loc['신재생'] = 0
northDF

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
발전 전력별,,,,,,,,,,,,,,,,,,,,,
합계,277,263,247,221,231,230,213,193,170,186,...,236,255,235,237,211,215,221,216,190,239
수력,156,150,142,133,138,142,125,107,102,103,...,133,141,125,134,132,135,139,130,100,128
화력,121,113,105,88,93,88,88,86,68,83,...,103,114,110,103,79,80,82,86,90,111
원자력,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
신재생,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [101]:
# 총계를 추가해보자
# 먼저 행열을 전환하자
southDF = southDF.T
northDF = northDF.T

In [102]:
southDF

발전 전력별    합계  수력    화력   원자력  신재생
1990    1077  64   484   529    -
1991    1186  51   573   563    -
1992    1310  49   696   565    -
1993    1444  60   803   581    -
1994    1650  41  1022   587    -
1995    1847  55  1122   670    -
1996    2055  52  1264   739    -
1997    2244  54  1420   771    -
1998    2153  61  1195   897    -
1999    2393  61  1302  1031    -
2000    2664  56  1518  1090    -
2001    2852  42  1689  1121    -
2002    3065  53  1821  1191    -
2003    3225  69  1859  1297    -
2004    3421  59  2056  1307    -
2005    3646  52  2127  1468    -
2006    3812  52  2272  1487    -
2007    4031  50  2551  1429    -
2008    4224  56  2658  1510    -
2009    4336  56  2802  1478    -
2010    4747  65  3196  1486    -
2011    4969  78  3343  1547    -
2012    5096  77  3430  1503   86
2013    5171  84  3581  1388  118
2014    5220  78  3427  1564  151
2015    5281  58  3402  1648  173
2016    5404  66  3523  1620  195

In [103]:
northDF

발전 전력별   합계   수력   화력 원자력 신재생
1990    277  156  121   -   0
1991    263  150  113   -   0
1992    247  142  105   -   0
1993    221  133   88   -   0
1994    231  138   93   -   0
1995    230  142   88   -   0
1996    213  125   88   -   0
1997    193  107   86   -   0
1998    170  102   68   -   0
1999    186  103   83   -   0
2000    194  102   92   -   0
2001    202  106   96   -   0
2002    190  106   84   -   0
2003    196  117   79   -   0
2004    206  125   81   -   0
2005    215  131   84   -   0
2006    225  126   99   -   0
2007    236  133  103   -   0
2008    255  141  114   -   0
2009    235  125  110   -   0
2010    237  134  103   -   0
2011    211  132   79   -   0
2012    215  135   80   -   0
2013    221  139   82   -   0
2014    216  130   86   -   0
2015    190  100   90   -   0
2016    239  128  111   -   0

In [104]:
# 계산전에 데이터타입을 바꾸자
# 빈 데이터는 0으로 간주
southDF['원자력'].replace('-', 0, inplace=True)
southDF['신재생'].replace('-', 0, inplace=True)
northDF['원자력'].replace('-', 0, inplace=True)

In [105]:
for c in southDF.columns:
    southDF[c] = southDF[c].astype('int64')
for c in northDF.columns:
    northDF[c] = northDF[c].astype('int64')

In [106]:
# sum 메소드를 이용해 합계 계산
southTotal = southDF.sum()
northTotal = northDF.sum()
print(southTotal, northTotal)

발전 전력별
합계     88523
수력      1599
화력     55136
원자력    31067
신재생      723
dtype: int64 발전 전력별
합계     5914
수력     3408
화력     2506
원자력       0
신재생       0
dtype: int64

In [107]:
# 총계를 추가해보자
southDF.loc['총계'] = southTotal.values
northDF.loc['총계'] = northTotal.values

In [108]:
southDF

발전 전력별     합계    수력     화력    원자력  신재생
1990     1077    64    484    529    0
1991     1186    51    573    563    0
1992     1310    49    696    565    0
1993     1444    60    803    581    0
1994     1650    41   1022    587    0
1995     1847    55   1122    670    0
1996     2055    52   1264    739    0
1997     2244    54   1420    771    0
1998     2153    61   1195    897    0
1999     2393    61   1302   1031    0
2000     2664    56   1518   1090    0
2001     2852    42   1689   1121    0
2002     3065    53   1821   1191    0
2003     3225    69   1859   1297    0
2004     3421    59   2056   1307    0
2005     3646    52   2127   1468    0
2006     3812    52   2272   1487    0
2007     4031    50   2551   1429    0
2008     4224    56   2658   1510    0
2009     4336    56   2802   1478    0
2010     4747    65   3196   1486    0
2011     4969    78   3343   1547    0
2012     5096    77   3430   1503   86
2013     5171    84   3581   1388  118
2014     5220    78   3427   1564  151
2015     5281    58   3402   1648  173
2016     5404    66   3523   1620  195
총계      88523  1599  55136  31067  723

In [109]:
northDF

발전 전력별    합계    수력    화력  원자력  신재생
1990     277   156   121    0    0
1991     263   150   113    0    0
1992     247   142   105    0    0
1993     221   133    88    0    0
1994     231   138    93    0    0
1995     230   142    88    0    0
1996     213   125    88    0    0
1997     193   107    86    0    0
1998     170   102    68    0    0
1999     186   103    83    0    0
2000     194   102    92    0    0
2001     202   106    96    0    0
2002     190   106    84    0    0
2003     196   117    79    0    0
2004     206   125    81    0    0
2005     215   131    84    0    0
2006     225   126    99    0    0
2007     236   133   103    0    0
2008     255   141   114    0    0
2009     235   125   110    0    0
2010     237   134   103    0    0
2011     211   132    79    0    0
2012     215   135    80    0    0
2013     221   139    82    0    0
2014     216   130    86    0    0
2015     190   100    90    0    0
2016     239   128   111    0    0
총계      5914  3408  2506    0    0

In [110]:
# 다시 뒤집어보자
southDF = southDF.T
northDF = northDF.T

In [111]:
southDF

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,총계
발전 전력별,,,,,,,,,,,,,,,,,,,,,
합계,1077,1186,1310,1444,1650,1847,2055,2244,2153,2393,...,4224,4336,4747,4969,5096,5171,5220,5281,5404,88523
수력,64,51,49,60,41,55,52,54,61,61,...,56,56,65,78,77,84,78,58,66,1599
화력,484,573,696,803,1022,1122,1264,1420,1195,1302,...,2658,2802,3196,3343,3430,3581,3427,3402,3523,55136
원자력,529,563,565,581,587,670,739,771,897,1031,...,1510,1478,1486,1547,1503,1388,1564,1648,1620,31067
신재생,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,86,118,151,173,195,723

In [112]:
northDF

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,총계
발전 전력별,,,,,,,,,,,,,,,,,,,,,
합계,277,263,247,221,231,230,213,193,170,186,...,255,235,237,211,215,221,216,190,239,5914
수력,156,150,142,133,138,142,125,107,102,103,...,141,125,134,132,135,139,130,100,128,3408
화력,121,113,105,88,93,88,88,86,68,83,...,114,110,103,79,80,82,86,90,111,2506
원자력,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
신재생,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 컷!