In [129]:
# 모듈 로드
import pandas as pd
import numpy as np

In [130]:
# 파일 경로
filename = './시도별 전출입 인구수.xlsx'

In [131]:
# 파일 불러오기
# 역시 뭔가 이상하다
excel = pd.read_excel(filename)
excel

,전출지별,전입지별,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,전출지별,전입지별,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),...,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명)
1,전국,전국,4046536,4210164,3687938,4860418,5297969,9011440,6773250,7397623,...,8808256,8487275,8226594,8127195,7506691,7411784,7629098,7755286,7378430,7154226
2,NaN,서울특별시,1742813,1671705,1349333,1831858,2050392,3396662,2756510,2893403,...,2025358,1873188,1733015,1721748,1555281,1520090,1573594,1589431,1515602,1472937
3,NaN,부산광역시,448577,389797,362202,482061,680984,805979,724664,785117,...,514502,519310,519334,508043,461042,478451,485710,507031,459015,439073
4,NaN,대구광역시,-,-,-,-,-,-,-,-,...,409938,398626,370817,370563,348642,351873,350213,351424,328228,321182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,NaN,전라북도,139,202,141,210,219,415,392,408,...,668,579,672,561,551,516,609,683,733,768
321,NaN,전라남도,631,965,857,952,1133,2808,2608,2652,...,1143,1123,1002,1026,966,1001,928,1062,1127,1102
322,NaN,경상북도,374,619,468,576,625,1123,1141,1004,...,761,704,738,756,699,781,728,903,931,994
323,NaN,경상남도,474,479,440,571,1208,1517,863,1122,...,1517,1474,1324,1367,1227,1278,1223,1500,1448,1501
324,NaN,제주특별자치도,9290,12427,12210,16158,19580,34221,23291,31028,...,59564,55673,55507,59846,54280,60607,59673,59036,66444,63275

In [132]:
excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 50 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전출지별    19 non-null     object
 1   전입지별    325 non-null    object
 2   1970    325 non-null    object
 3   1971    325 non-null    object
 4   1972    325 non-null    object
 5   1973    325 non-null    object
 6   1974    325 non-null    object
 7   1975    325 non-null    object
 8   1976    325 non-null    object
 9   1977    325 non-null    object
 10  1978    325 non-null    object
 11  1979    325 non-null    object
 12  1980    325 non-null    object
 13  1981    325 non-null    object
 14  1982    325 non-null    object
 15  1983    325 non-null    object
 16  1984    325 non-null    object
 17  1985    325 non-null    object
 18  1986    325 non-null    object
 19  1987    325 non-null    object
 20  1988    325 non-null    object
 21  1989    325 non-null    object
 22  1990    325 non-null    object
 23  1991    325 non-null    object
 24  1992    325 non-null    object
 25  1993    325 non-null    object
 26  1994    325 non-null    object
 27  1995    325 non-null    object
 28  1996    325 non-null    object
 29  1997    325 non-null    object
 30  1998    325 non-null    object
 31  1999    325 non-null    object
 32  2000    325 non-null    object
 33  2001    325 non-null    object
 34  2002    325 non-null    object
 35  2003    325 non-null    object
 36  2004    325 non-null    object
 37  2005    325 non-null    object
 38  2006    325 non-null    object
 39  2007    325 non-null    object
 40  2008    325 non-null    object
 41  2009    325 non-null    object
 42  2010    325 non-null    object
 43  2011    325 non-null    object
 44  2012    325 non-null    object
 45  2013    325 non-null    object
 46  2014    325 non-null    object
 47  2015    325 non-null    object
 48  2016    325 non-null    object
 49  2017    325 non-null    object
dtypes: object(50)
memory usage: 127.1+ KB

In [133]:
# 아무래도 저 NaN부터 어떻게든 해야할듯
# 시리즈를 떼어보자
FromSR = excel['전출지별']
FromSR

0      전출지별
1        전국
2       NaN
3       NaN
4       NaN
       ...
320     NaN
321     NaN
322     NaN
323     NaN
324     NaN
Name: 전출지별, Length: 325, dtype: object

In [134]:
# nan 데이터 채우기
# 이건 아닌거 같은데
area = ''
areas = []
for v in FromSR.values:
    if str(v) == 'nan':
       areas.append(area)
    else:
        area = v
        areas.append(area)
excel['전출지별'] = areas

In [135]:
excel

,전출지별,전입지별,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,전출지별,전입지별,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),...,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명)
1,전국,전국,4046536,4210164,3687938,4860418,5297969,9011440,6773250,7397623,...,8808256,8487275,8226594,8127195,7506691,7411784,7629098,7755286,7378430,7154226
2,전국,서울특별시,1742813,1671705,1349333,1831858,2050392,3396662,2756510,2893403,...,2025358,1873188,1733015,1721748,1555281,1520090,1573594,1589431,1515602,1472937
3,전국,부산광역시,448577,389797,362202,482061,680984,805979,724664,785117,...,514502,519310,519334,508043,461042,478451,485710,507031,459015,439073
4,전국,대구광역시,-,-,-,-,-,-,-,-,...,409938,398626,370817,370563,348642,351873,350213,351424,328228,321182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,제주특별자치도,전라북도,139,202,141,210,219,415,392,408,...,668,579,672,561,551,516,609,683,733,768
321,제주특별자치도,전라남도,631,965,857,952,1133,2808,2608,2652,...,1143,1123,1002,1026,966,1001,928,1062,1127,1102
322,제주특별자치도,경상북도,374,619,468,576,625,1123,1141,1004,...,761,704,738,756,699,781,728,903,931,994
323,제주특별자치도,경상남도,474,479,440,571,1208,1517,863,1122,...,1517,1474,1324,1367,1227,1278,1223,1500,1448,1501
324,제주특별자치도,제주특별자치도,9290,12427,12210,16158,19580,34221,23291,31028,...,59564,55673,55507,59846,54280,60607,59673,59036,66444,63275

### 서울로 가장 많이 이주한 지역은?

In [136]:
# 인덱스를 전입지로 변경하고 가져온다
toSeoul = excel.set_index('전입지별').loc['서울특별시'].set_index('전출지별')
toJeju = excel.set_index('전입지별').loc['제주특별자치도'].set_index('전출지별')

In [137]:
toSeoul

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
전출지별,,,,,,,,,,,,,,,,,,,,,
전국,1742813,1671705,1349333,1831858,2050392,3396662,2756510,2893403,3307439,2589667,...,2025358,1873188,1733015,1721748,1555281,1520090,1573594,1589431,1515602,1472937
서울특별시,1232619,1158556,985945,1345508,1511726,2401970,2041724,2212213,2518286,1883742,...,1426213,1286855,1199708,1215122,1069300,1053008,1098023,1129529,1061915,1018807
부산광역시,24263,30144,18260,24251,30284,59914,43416,42685,48142,39673,...,25249,24459,23116,23016,21437,19621,20616,19441,19236,19460
대구광역시,-,-,-,-,-,-,-,-,-,-,...,14824,15469,13915,13310,13838,13673,13735,13038,12802,13011
인천광역시,-,-,-,-,-,-,-,-,-,-,...,40479,38858,35670,33008,32216,33017,34380,33570,32486,32528
광주광역시,-,-,-,-,-,-,-,-,-,-,...,14708,14035,12642,11917,11811,10964,11518,10860,10432,10561
대전광역시,-,-,-,-,-,-,-,-,-,-,...,17325,17439,15793,14890,14570,14156,14172,13559,13726,14118
울산광역시,-,-,-,-,-,-,-,-,-,-,...,6262,6512,6484,6278,6799,6347,6458,6954,6750,6708
세종특별자치시,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,1015,1095,1497,2228,2812,3195
경기도,95388,95423,90470,107177,107518,207641,144524,154021,164771,168188,...,323515,317952,285963,272407,254175,246464,249701,239557,234357,234448
강원도,34563,38588,32497,40922,42649,74065,52651,52262,56527,47207,...,24484,24376,22798,21559,21324,19954,20174,20030,19877,19761
충청북도,37625,39139,29513,36260,40154,72525,50313,50472,70017,50801,...,15672,15612,14561,13753,13624,13209,13291,13197,13032,12961
충청남도,67033,63565,40803,53320,61038,115149,81692,76119,83411,77054,...,26659,26072,23115,21674,20638,19680,19841,19144,18726,18582
전라북도,71785,63688,39692,55168,60827,118342,83263,75212,84412,82681,...,23012,21188,18777,17600,17180,15495,15902,14830,14993,14930
전라남도,75871,70920,41044,59763,69361,125081,94332,87967,102247,93911,...,20442,19007,17766,16298,15818,14595,14607,13884,14568,13665
경상북도,59129,63329,41532,61129,67374,124398,87716,79224,88334,79620,...,20524,19784,18395,17319,17694,16561,16796,16478,16087,15681
경상남도,40077,43468,27238,39862,44321,81239,64652,52106,61217,53422,...,19890,19615,18680,18329,18230,16841,17144,16781,17169,17312
제주특별자치도,3881,4885,2339,7411,8470,14272,9900,10103,10757,9557,...,6100,5955,5632,5268,5612,5410,5739,6351,6634,7209

In [138]:
toJeju

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
전출지별,,,,,,,,,,,,,,,,,,,,,
전국,14551,19064,19404,25845,29176,50939,36273,43287,45012,44965,...,80124,76575,77224,82708,79501,88851,92508,97580,106825,105027
서울특별시,1039,1325,1617,2456,2261,3440,3623,3551,3937,4261,...,5473,5332,5714,6133,6954,7828,9031,10434,10465,10404
부산광역시,766,855,1007,1229,1132,1861,1832,1875,1998,2127,...,1940,1926,1780,1875,1928,1996,2131,2735,2948,2993
대구광역시,-,-,-,-,-,-,-,-,-,-,...,618,664,631,643,773,847,1061,1317,1394,1631
인천광역시,-,-,-,-,-,-,-,-,-,-,...,1094,1125,1252,1232,1436,1720,1941,2276,2375,2713
광주광역시,-,-,-,-,-,-,-,-,-,-,...,770,774,711,761,769,822,1017,1156,1129,1191
대전광역시,-,-,-,-,-,-,-,-,-,-,...,423,488,452,482,540,685,739,967,884,835
울산광역시,-,-,-,-,-,-,-,-,-,-,...,355,347,355,329,394,400,492,681,744,815
세종특별자치시,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,39,41,63,139,164,263
경기도,388,430,572,680,695,1331,1096,935,1091,1439,...,4619,4976,5435,5969,6540,7557,9078,10584,10937,11255
강원도,245,188,269,406,283,504,376,324,333,312,...,467,511,482,560,590,686,814,839,934,945
충청북도,71,111,147,161,136,246,162,155,213,202,...,401,408,486,469,552,640,842,838,907,1009
충청남도,198,275,243,367,371,707,459,415,465,527,...,613,608,731,755,777,862,915,1094,1163,1270
전라북도,330,387,434,429,391,1005,503,539,588,524,...,634,580,558,608,635,725,824,1060,1117,1114
전라남도,1442,2182,2063,2701,3231,5443,3234,2943,3167,3131,...,1020,996,1029,961,1062,1048,1174,1341,1400,1424
경상북도,292,487,471,513,514,986,849,704,754,744,...,779,764,787,789,839,914,965,1231,1376,1357
경상남도,487,397,371,630,565,1160,848,810,903,942,...,1354,1403,1314,1296,1393,1473,1748,1852,2444,2533
제주특별자치도,9290,12427,12210,16158,19580,34221,23291,31028,30719,30064,...,59564,55673,55507,59846,54280,60607,59673,59036,66444,63275

In [139]:
# 뒤집어
toSeoul = toSeoul.T
toJeju = toJeju.T

In [140]:
# 그놈의 NaN xx 진짜
# 0으로 다채워버리자
toSeoul.replace('-', 0, inplace=True)
toJeju.replace('-', 0, inplace=True)

In [141]:
# 총량을 구해보자
totalToSeoul = toSeoul.iloc[1:].astype('int64').sum()
totalToJeju = toJeju.iloc[1:].astype('int64').sum()

In [142]:
# 서울로 가장 많이 이주한 지역은 경기도
totalToSeoul.sort_values(ascending=False)

전출지별
전국         108142342
서울특별시       77827568
경기도         11848045
전라남도         2509159
전라북도         2196964
충청남도         2192730
경상북도         1850926
강원도          1654287
인천광역시        1579059
경상남도         1520592
부산광역시        1475851
충청북도         1354963
대구광역시         638316
광주광역시         512127
대전광역시         458737
제주특별자치도       323894
울산광역시         134618
세종특별자치시        11842
dtype: int64

In [143]:
# 제주로 가장 많이 이주한 지역은 서울
totalToJeju.sort_values(ascending=False)

전출지별
전국         3397989
제주특별자치도    2433999
서울특별시       259742
경기도         170993
부산광역시       113696
전라남도         95655
경상남도         64535
인천광역시        40469
경상북도         38315
전라북도         31548
충청남도         28200
대구광역시        25851
광주광역시        25692
강원도          23289
충청북도         17400
대전광역시        14068
울산광역시         9533
세종특별자치시        709
dtype: int64